<!DOCTYPE html>
<html>
<head>
  <title>Eu gdpr</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "eu_gdpr/application", media: "all" %>
  <%= javascript_include_tag "eu_gdpr/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
